html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: #eceef1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  color: #757575;
  padding-right: 5px;
}

/* Page Generals */

.position-absolute {
  position: absolute;
}

.align-horizontally {
  margin: 10%;
}

.margin-t70 {
  margin-top: 70px;
}

.bg-gray {
  /*background-image: linear-gradient(#333333, #6e6e6e);*/
  background-image: linear-gradient(#6e6e6e 50%, #515151 50%, #6e6e6e);
  border-radius: 5px;
}

.width80 {
  width: 80%;
}

.width90 {
  width: 90%;
}

.height40 {
  height: 37px;
}

.margin-center {
  margin: 5% 10%;
}

nav ul {
  height: 100%;
}

nav ul li {
  float: left;
  width: 10.9%;
  border-right: #2c3e50 0.1px solid;
  height: 100%;
  position: relative;
}

nav ul li a {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  line-height: 3;
}

nav ul li a p {
  background-image: url(img/apple-logo.svg);
  background-position: 50% 0;
  width: 100%;
  height: 100%;
  margin: 3px auto;
  text-align: center;
  line-height: 3;
}

#search-bar {
  width: 12.7%;
  border-right: none;
}

.search-opacity {
  opacity: 0.13;
  filter: alpha(opacity=13); /* For IE8 and earlier */
}

#search-a {
  width: 80%;
  height: 60%;
  margin: 5% 10%;
  border-radius: 10px;
  border: black 1px solid;
  border-bottom: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: left;
}

main {
  width: 100%;
  height: 525px;
  background-image: url(img/hero.jpg);
}
